@use "@material/theme" with (
  $primary: #00949d,
  $secondary: #feeae6,
  $on-primary: #fff,
  $on-secondary: #442b2d,
);
@use "@material/button/styles" as button;
@use "@material/list";
@use "@material/card";
@use "@material/typography/mdc-typography";
@use "@material/tooltip/styles" as tooltip;
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/styles" as icon-button;
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/chips/styles" as chips;
@use "@material/drawer";
@use "@material/switch/styles";
@use "@material/chips/deprecated/mdc-chips";
@use "@material/dialog";
@use "@material/snackbar/mdc-snackbar";
@include dialog.core-styles;

@include card.core-styles;
@include list.deprecated-core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;


.a2a_label {
  display: none;
}
body .a2a_default_style:not(.a2a_flex_style) a {
  padding: 0px
}

body {
    min-height: 100dvh;
}
.mdc-deprecated-list .mdc-deprecated-list-item__graphic {
  // Safari Bug fix
  display: block;
}

.sidebar {
  margin-top: 64px;
  position: fixed;
}

//テキスト部のスタイル
.my-card-content {
  padding: 16px;
}

.my-card-content__title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.my-card-content__subtext {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  opacity: 0.6;
}

body {
    padding: 0;
    margin: 0 auto;
}
.mdc-tooltip__surface {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.main-content {
  height: calc(100dvh - (64px));
margin-left: 256px;
}

@media screen and (max-width:480px) {
  .sidebar {
    display: none;
  }
  .main-content {
    height: auto;
    margin-left: 0;
  }
}