@use "@material/theme" with (
  $primary: #00949d,
  $on-primary: #fff,
  $on-secondary: #442b2d
);
@use "@material/button/styles";
@use "@material/button";
@use "@material/list";
@use "@material/card";
@use "@material/typography/mdc-typography";
@use "@material/tooltip/styles" as tooltip;
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/styles" as icon-button;
@use "@material/menu-surface";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu";
@use "@material/menu/mdc-menu";
@use "@material/chips/styles" as chips;
@use "@material/drawer";
@use "@material/switch/styles" as S;
@use "@material/chips/deprecated/mdc-chips";
@use "@material/dialog";
@use "@material/snackbar";
@use "@material/snackbar/mdc-snackbar";
@use "@material/checkbox";
@use "@material/form-field";


@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/radio/styles" as radio;

@include checkbox.core-styles;
@include form-field.core-styles;
@include textfield.core-styles;
@include dialog.core-styles;

@include card.core-styles;
@include list.deprecated-core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
.mdc-text-field--outlined {
  @include textfield.outline-shape-radius(10px);
}
.mdc-card {
  @include card.shape-radius(10px);
}
.mdc-button {
  @include button.shape-radius(10px);
}
.mdc-snackbar {
  @include snackbar.shape-radius(10px);
}
.mdc-menu {
  @include menu-surface.shape-radius(10px);
}
.mdc-dialog {
  @include dialog.shape-radius(10px);
}
.a2a_label {
  display: none;
}
.mdc-dialog--open .mdc-dialog__scrim {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
body .a2a_default_style:not(.a2a_flex_style) a {
  padding: 0px;
}

.mdc-deprecated-list .mdc-deprecated-list-item__graphic svg{
  // Safari Bug fix
  width: 100%;
}

.sidebar {
  margin-top: 64px;
  position: fixed;
}

//テキスト部のスタイル
.my-card-content {
  padding: 16px;
}

.my-card-content {
  a[href] {
    color: inherit;
    text-decoration: none;
  }
  font-size: 1.25rem;
  &__title {
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    &__top {
      font-size: 1rem;
      color: rgba(13, 75, 78, 0.87);
    }
  }
  &__subtext {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    color: rgba(13, 75, 78, 0.87);
  }
}

.mdc-card :is(.mdc-card__primary-action, .my-card-content):not(:last-child) {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  display: block;
  user-select: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  speak: none;
}
.my-card-content body {
  padding: 0;
  margin: 0 auto;
}
.mdc-tooltip__surface {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.main-content {
  height: calc(100dvh - (64px));
  margin-left: 256px;
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
  .main-content {
    height: auto;
    margin-left: 0;
  }
}
