---
import Layout from "../../layouts/Layout.astro";
import "../../components/style/mdc/home.scss";
import AccountList from "./accountList.astro";
const visible = true;

---

<Layout title="ホーム">
  <div style="padding:10px">
    <div class="mdc-card mdc-card--outlined">
      <div class="mdc-card__primary-action" tabindex="0">
        <div class="my-card-content">
          <div class="my-card-content__title">新サイトへ移行します！</div>
          <div class="my-card-content__subtext">
            今後、このサイトは移行されます。詳細は近日中に公開予定です。なお現在、このサイトは最終の情報ではありませんのでご注意ください。（2023/07/15）
          </div><div class="mdc-card__ripple"></div>
        </div>
      </div>
      <!-- ... additional primary action content ... -->
      <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
          <button class="mdc-button mdc-card__action mdc-card__action--button">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">新サイトへ</span>
          </button>
          <button
            class="mdc-button mdc-card__action mdc-card__action--button"
            disabled
          >
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">詳細（近日中公開予定）</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <span class="mdc-evolution-chip mdc-evolution-chip--selected" role="presentation" id="c5">
    <span class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" role="option" aria-selected="false" tabindex="0">
      <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
      <span class="mdc-evolution-chip__graphic">
        <span class="mdc-evolution-chip__icon mdc-evolution-chip__icon--primary material-icons">favorite</span> <!-- optional -->
        <span class="mdc-evolution-chip__checkmark">
          <svg class="mdc-evolution-chip__checkmark-svg" viewBox="-2 -3 30 30">
            <path class="mdc-evolution-chip__checkmark-path"
                fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
          </svg>
        </span>
      </span>
      <span class="mdc-evolution-chip__text-label">Chip label</span>
    </span>
  </span>
  
  <span class="mdc-evolution-chip-set" role="grid">
    <span class="mdc-evolution-chip-set__chips" role="presentation">
      <span class="mdc-evolution-chip" role="row" id="c0">
        <span
          class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary"
          role="gridcell"
        >
          <button
            class="mdc-evolution-chip__action mdc-evolution-chip__action--primary mdc-evolution-chip--selected mdc-evolution-chip--selectable"
            type="button"
            tabindex="0"
          >
            <span
              class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"
            ></span>
            <span class="mdc-evolution-chip__text-label">アカウント一覧</span>
          </button>
        </span>
      </span>
      <span class="mdc-evolution-chip mdc-evolution-chip--selected mdc-evolution-chip--selectable" role="row" id="c1">
        <span
          class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary"
          role="gridcell"
        >
          <button
            class="mdc-evolution-chip__action mdc-evolution-chip__action--primary "
            type="button"
            tabindex="-1"
          >
            <span
              class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"
            ></span>
            <span class="mdc-evolution-chip__text-label"
              >他のアカウント一覧</span
            >
          </button>
        </span>
      </span>
      <span class="mdc-evolution-chip" role="row" id="c1">
        <span
          class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary"
          role="gridcell"
        >
          <button
            class="mdc-evolution-chip__action mdc-evolution-chip__action--primary"
            type="button"
            tabindex="-1"
          >
            <span
              class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"
            ></span>
            <span class="mdc-evolution-chip__text-label">おしらせ</span>
          </button>
        </span>
      </span>
    </span>
  </span>
  <button class="mdc-icon-button">
    <div class="mdc-icon-button__ripple"></div>
    <span class="mdc-icon-button__focus-ring"></span>
    <i class="material-icons-outlined">settings</i>
  </button>
  <div class="mdc-tooltip-wrapper--rich">
    <button class="mdc-button" aria-describedby="tt0">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Button</span>
    </button>
    <div
      id="tt0"
      class="mdc-tooltip mdc-tooltip--rich"
      aria-hidden="true"
      role="tooltip"
    >
      <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">
        <p class="mdc-tooltip__content">
          X（旧Twitter）をTwitterに置き換えます。
        </p>
      </div>
    </div>
  </div>
  <AccountList/>
  <button
    id="basic-switch"
    class="mdc-switch mdc-switch--unselected"
    type="button"
    role="switch"
    aria-checked="false"
  >
    <div class="mdc-switch__track"></div>
    <div class="mdc-switch__handle-track">
      <div class="mdc-switch__handle">
        <div class="mdc-switch__shadow">
          <div class="mdc-elevation-overlay"></div>
        </div>
        <div class="mdc-switch__ripple"></div>
        <div class="mdc-switch__icons">
          <svg
            class="mdc-switch__icon mdc-switch__icon--on"
            viewBox="0 0 24 24"
          >
            <path
              d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z"
            ></path>
          </svg>
          <svg
            class="mdc-switch__icon mdc-switch__icon--off"
            viewBox="0 0 24 24"
          >
            <path d="M20 13H4v-2h16v2z"></path>
          </svg>
        </div>
      </div>
    </div>
  </button>
  
  {visible && <p>表示されます</p>}

{visible ? <p>表示されます</p> : <p>こっちは表示されません！</p>

</Layout>

<style>

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
<script>
  import { MDCSwitch } from "@material/switch";

  const visible = true;

</script>
